
#titulo{
	color: #F9F1F7;
	margin-top: 0;
	margin-bottom: 0;
	background-image: url('Titulo.png');
	background-repeat: no-repeat;
	background-size: 100% 991px;
	padding-bottom: 0px;
	height: 991px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	text-align: bottom;
  	font-size: 50px;
}
.header{
	background-color: #F36DD8;
	opacity : 0.8;
  	width: 100%;
  	margin-top: 0;
	position: center;
	text-align: center;
}
.header a{
	text-decoration: none;
}

.sticky{
	position: fixed;
	top: 0;
}
body{
	background-color: #A4368E;
	margin: 0;
	text-align: center;
	color: #F9F1F7;
	font-size: 20px;
}
.content{
	padding: 16px;
}
#dropdownButton {
 	background-color: #F36DD8;
  	color: #F9F1F7;
  	font-size: 25px;
  	border: none;
  	cursor: pointer;
}

.dropdownContent {
  	display: none;
  	position: left;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	font-size: 20px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}
.dropdownContent a {
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: inline-block;
}
.dropdownContent a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdownContent {
  	display: block;
}

.dropdown:hover .dropdownButton {
  background-color: #A93978;
}
.pagBotoes{
 	background-color: #A93978;
  	color: white;
  	font-size: 25px;
  	border: none;
  	cursor: pointer;
}
#rodape{
	background-color: #2C2E30;
	text-align: center;
	color: #F9F1F7;
	margin-top: 0;
	margin-bottom: 0;
}
.menu{
	background-image: url('Menu.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: 100% 1010px;
	height: 1010px;
	display: flex;
  	align-items: center;
  	justify-content: center;
	text-align: bottom;
}

.botaoMenu{
	text-align: center;
  	text-decoration: none;
  	color: white;
  	font-size: 50px;
  	cursor: pointer;
  	background-color: #82A5F6;
	border: 6px solid #F9F1F7;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

#paciente {
	position: absolute;
	z-index: 2;
}

#trabalho #voluntario {
	position: absolute;
	z-index: 1;
}

#voluntario {
	margin-left: 250px;
}

.botaoApoie{
	border-radius: 8px;
	background-color: #F9F1F7;
	color: black;
	text-decoration: none;
	padding: 8px;
	width: 150px;
	height: 10px;
	line-height: 10px;
	display: block;
	margin: 0 auto;
	margin-top: -12px;
}

.botaoRedes{
	border-radius: 8px;
	background-color: #F9F1F7;
	color: black;
	text-decoration: none;
	padding: 10px;
	margin-bottom: 0px;
}

#redes-sociais {
	margin: 0 auto;
	width: 120px;
	height: 60px;
}

#botaoFacebook {
	display: block;
	float: left;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #F9F1F7 url(/AMACC/facebook.png) no-repeat center;
	background-size: 30px;
	text-indent: -9999px;
}

#botaoInstagram {
	display: block;
	margin: 0 auto;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #F9F1F7 url(/AMACC/instagram.png) no-repeat center;
	background-size: 30px;
	text-indent: -9999px;
}

#rodape p {
	width: 40%;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0 auto;
	color: #50636c;
	border-bottom: 1px solid #50636c;
}
